.cart-nav{
    display: flex;
    width: 100%;
    position: fixed;
    top: 0;
    height: 80px;
    background-color: white;
    /* justify-content: space-around; */
    /* gap: 20%; */
    align-items: center;
    box-shadow: rgba(253, 123, 123, 0.16) 0px 1px 4px;
}

.cart-container{
    display: grid;
    width:80%;
    margin: auto;
    grid-template-columns: 45% 30%;
    margin-top: 10%;
  
    justify-content: center;
    gap:5%;
  

}
.cart-products{
   
    border-right: 1px solid gray;
}
.c-product{
    width:95%;
    box-shadow:rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px
    /* border:"1px solid gray" */
}

.address{
    border: 1px solid red;
    width: 95%;




}

.order-summry{
    border:1px solid red
}
