.layoutSide {
    width: 82%;
    margin: auto;
}

.filterDiv{
    width: 25%;
}

.childrenDiv {
    width: 100%;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}