.layoutSide {
    padding: 0 150px 0 90px;
}

.filterDiv{
    width: 30%;
    height: 84vh;
    padding-left: 12px;
    padding-top: 10px;
}

.childrenDiv {
    padding: 5px;
    width: 100%;
    border: 1px solid rgb(179, 176, 176);
}