.container {
    height: 72px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 80px;
    position: fixed;
    background-color: white;
}

.logoDiv {
    display: flex;
    gap: 20px;
}

.profile-div {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.right-item {
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    justify-content: space-evenly;
    height: 100%;
}

.icon-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}