.main-div{
    width: 100%;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
    padding: 2px;
}

.divImage{
    width: 90%;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    border-radius: 8px;
    height: 250px;
    margin: 10px auto auto auto;
}

.divButton{
    background-color: #028d62;
    border-radius: 20%;
    padding: 2px 5px;
    color: white;
}

.divRating{
    display: flex;
    padding-top: 10px;
    padding-left: 60px;
    justify-content: flex-start;
    gap: 30px;
}